

.carousel-item img
{
	width: 100%;
}


.detailcenter
{
	text-align: center;
}

.cp-accordian-item h3
{
font-size: 20px;
    line-height: 37px;
    font-weight: 600;
    color: #1b375f!important;
}







/* footer */

.footerheading
{
 text-align: center;
 color: #555;
 float: left;
 width: 100%;
 font-size: 24px;
 margin-top: 25px;
}


 .img-section img
 { display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.img-section
{
    border: 1px solid #ccc;
    margin: 3%;
    border-radius: 5px;
    background: #fff
}


.footermedheading 
{
text-align: center;
color: #fff;
float: left;
width: 100%;
font-size: 20px;
margin-top: 25px;
}

/*.fa-mobile
{
font-size:80px!important;
color:#fff!important;
}

.fa-desktop
{
font-size:60px!important;
color:#fff!important;
}

.fa-envelope
{
font-size:60px!important;
color:#fff!important;
}*/


@media (min-width: 320px) and (max-width: 767px) {
.cp-topbar .tp-num
{
	font-size: 13px;
	float: inherit!important;
}
}

body p {
    font-family: 'FontAwesome';
    font-size: 20px!important;
    line-height: 22px;
    margin: 0;
    color: black;
}







